text {
  /*fill: #000;*/
  fill: #000000;
  /*fill: #DC143C;*/
  /*font: 10px sans-serif;*/
  pointer-events :all;
  font: 12px ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
path.link {
  fill: none;
  /*stroke: #666;*/
  stroke: rgb(145, 145, 145);
  stroke-width: 1.5px;
}
circle {
  /*fill:  #DC143C;*/
  fill: rgb(249, 250, 87);
 /* fill: #ccc;*/
  stroke: #fff;
  stroke-width: 1.5px;
}

svg {
  /*background-color:#F5F5F5;*/
  background-color:rgb(255, 255, 255);
}
.red {
  fill: rgb(135, 206, 250) !important;
}
select{
  display: block;
}